  <!-- Notification for no Employees-->
  <!--
  <div class='col-lg-12 col-md-12 col-x2-12'>
      <div class="alert alert-info" role="alert">
          <h4 class="alert-heading";>NO EMPLOYEES!</h4>
          <p>No Employees were found.</p>
      </div>
  </div> -->

  <div class="modal-container">
  <!-- TODO: wire input fields to employee fields (hint: look at formgroup) -->
  <div class="form-field">
    <div class="title">
      Are you sure you want do delete this employee?
    </div>
  </div>
      <div class="button-confirm">
        <button type="button" (click)="saveChanges()">
          Confirm
        </button>
      </div>
    </div>