<p>delete-employee-modal works!</p>
<!-- Delete Employee Modal -->

<!--
<div class="modal fade" id="deleteEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Notification for no Employees-->
  <!--
  <div class='col-lg-12 col-md-12 col-x2-12'>
      <div class="alert alert-info" role="alert">
          <h4 class="alert-heading";>NO EMPLOYEES!</h4>
          <p>No Employees were found.</p>
      </div>
  </div> -->

